/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {line-height: 1.30;}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color:yellowgreen;
}   
nav {
    background-color: #aa0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,2555,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

nav ul.hide {display: none;}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  img.icon {
    float: left;
    width: 90px;
    margin: 0;
  
 
}
  h1 {
    line-height: 10px;
    font-weight: 200;
    padding: 15px 0px 20px 0px; 
    margin: 10px;
    color:blue;

    }

    main section    {
        padding: .3rem 2%;
        min-height: .5rem;
    }

    article section h3 {
        background-color: #eee;
        color: black;}
        
    footer {
       padding: 1rem 2%;
       text-align: center;
       font-size: 18px;
       background-color: mediumseagreen;
       }


    h2 {
        margin: 20px;
        text-shadow: 2px 2px 4px #888;
        padding: 0px;
    } 


    h3 {
        padding: 5px;
        margin: 10px;
       }

    /* -------------HEADER ---------------*/
    header {
        padding: 1rem 2%;
        min-height: 10rem;
        
        
    }

    h3 {
        color: green;
    }
