/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: green;
}
header img {float: left; margin-right: 0;width: 50px}
header h1 {margin: 0; font-size: 1.8rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1.3rem;}

/*----------- NAVIGATION --------------
nav {
    background-color: #666;*/

    header,
footer {
background-color: var(--primary-color);
padding: 10px; 
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}*/

nav { margin: 0 auto; max-width: 700px; background-color: #000;}
.navigation { list-style: none; text-align: center; }
  .navigation li:first-child { display: block;}
  .navigation li { display: none;}
  .navigation a { display: block; color: #fff; padding: .75rem; text-align: center; text-decoration: none;}
.navigation a:hover { color: #000; background-color: #fff; font-weight: 700; }


nav ul li a:hover {
    background-color: #aaa;
    color: red;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
.img-persona {
    border: var(--accent2-color);align-items: center;margin: 0 auto;max-width: 90%;
    display: block;border-style: inherit; }
    
  .text-persona {margin: 0 auto;align-items: center;text-align: left; display: block; 
  }
  .persona-box { grid-template-columns: 1fr 1fr;  display: grid;    
}
.persona-box-1 {  padding: 0 4px; display: grid;grid-column: 1/2;    
          
}   
.persona-box-2 { padding: 0 9.8px;    display: grid;grid-column: 2/3; 
                  
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
.scenarios-heading {list-style-type: none; font-weight: bold;}
    .scenarios-text { margin-left: 25px;}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: var(--secondary-color);
  }
  .colors td {
    width: 25%;
    height: 3em;
  }