@media only screen and (min-width: 1028px) {
header, footer, nav, main {max-width: 80rem; margin: auto;}

header h2 { text-align: center;}

/*main figure {width: 31%;}*/

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#site3 {
    grid-column: span 1;
    
}

}
