@media only screen and (min-width: 560px) {

/*nav ul {display: flex;}
nav ul li {flex-basis:25%;}

/*nav li { float: left; width: 25%;}*/

/*main figure {
    float: right;
    width: 48%;
    margin-left: 2%;
    padding-bottom: .5rem;
}
div.news {
    clear: both;
    column-count: 2;
    column-rule: 1px solid #ddd;
}*/

h1 {
    font-size: 3.2rem;
    text-align: center;
}

header h2 {
    text-align: center;
    font-size: 2.0rem;
    margin-left: 30px;
    
}

h2 {
    font-size: 2.0rem;
}

ul, p {
    font-size: 1rem;
}

#grid {
    /*display: grid;*/
    grid-template-columns: 1fr 1fr;
    border-radius: 0 0 15px 15px;
}
#site3 {
    grid-column: span 2;
    
}


}

