

* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box; box-sizing:border-box
}

body {
    margin:50px;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
}

header {
    background-color:greenyellow;
    padding: 1rem 2%;
}
header h1 {
    margin:0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 1.3rem;
    color:black;
}
header h2 {
    margin: 0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 1.3rem;
    color:red;
    
}

header h3 {
    margin: 0;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 1.0rem;
    color:blue;
}

main h1 {
    color: #17a8e4;
}
main figure img {
    display: block;
    height: 500px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;}
main figure{
    margin-right: auto;
    margin-left: auto;
}
main figcaption{ text-align: center; font-size: .8rem;}

footer {
    background-color:greenyellow;
    text-align: center;
    padding: 1rem 2%;
}


/* Create three equal columns that float next to each other */ 
.column {
    float: left;
    width: 33%;
    padding:10px;
}

.column img {
    margin-top:12px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgoldenrodyellow;
}
.site2 {
    width: 90%;
}
.websites {
    border : 1px solid black;
    border-radius: 15px 15px 15px 15px;
    
    background-color: lighyellow;
}
